name: Docker Compose CI

on:
  push:
    branches: [ main ]

jobs:
  compose:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout backend repo
        uses: actions/checkout@v4

      - name: Log in to GitHub Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository }}-backend:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: https://github.com/daniahamed/apptrainning-frontend.git
          push: true
          tags: |
            ghcr.io/${{ github.repository }}-frontend:latest

      - name: Run with docker compose
        run: |
          docker compose pull
          docker compose up -d

      - name: Show running containers
        run: docker ps

