name: Docker Compose CI

on:
  push:
    branches: [ main ]

jobs:
  compose:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout backend repo
        uses: actions/checkout@v4

      - name: Build and run services
        run: |
          docker compose build
          docker compose up -d

      - name: Show running containers
        run: docker ps



# name: Backend CI/CD

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build-and-push:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Login to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKERHUB_USERNAME }}
#           password: ${{ secrets.DOCKERHUB_PASSWORD }}

#       - name: Build and push backend image
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           push: true
#           tags: daniahamed/apptraining-backend:latest
